.footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  max-width: 318px;
  height: 18px;
  position: relative;
  margin: 75px 0 75px;
}
