.header {
  margin-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 327px) {
  .header {
    margin-top: 10px;
  }
  .around_the_us__header {
    width: 130px;
    margin-left: 27px;
    margin-top: 5%;
  }
}
