/* Profile section begins */
.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 55px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  /*grid-template-columns: minmax(auto, 373px) auto;*/
}

.profile__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0 0 3%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 415px;
  min-width: 210px;
}

.profile__description {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400px;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid #ffffff;
  transition: border-color 0.5s;
  margin-right: 25px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #ffffff;
  transition: border-color 0.3s;
  min-width: 15px;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__image {
  height: 120px;
  width: 120px;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}
/* {
  outline: thin solid red;
}*/

@media screen and (max-width: 327px) {
  .profile {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }

  .profile__image {
    margin-left: 6%;
  }

  .profile__title {
    padding-top: 32px;
    padding-bottom: 10px;
    font-size: 22px;
    align-items: center;
    line-height: 26.63px;
    margin-bottom: 1px;
    margin-left: 50px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 0;
  }

  .profile__edit-button {
    margin-top: 35px;
    margin-right: 27px;
    padding: 3px 8px;
    height: 18px;
    margin-left: 0px;
    width: 18px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
  }
}
